
body {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
    color: #393d41;
    font-size: 1.2rem;
    line-height: 1.65;
    text-align: center;
  }/* Your styles here */

  header {
    background-color: black;
    text-align: center;
    padding: 2em;
  }

  button {
    background-color: #f04c2f;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    border-radius: 10%;
    border: none;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5%;
    text-transform: uppercase;
    font-size: 12px;
   
  }


  h1, h3, h4 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

h1 {
    font-size: 30px;
    color: #25a2c3;
    line-height: 1,5;
}

h3 {
    font-size: 16px;
    color: #25a2c3;
    line-height: 1,5;
}

h4 {
    font-size: 14px;
    color: #25a2c3;
    line-height: 1,5;
}

  #box4, #box5, #box6 {
    margin: 10%;
    border: 1 px solid #dee1e3;
    border-radius: 10%;
    
  }

  #box1 {
    background-image: url(../images/foto1.jpg);
    background-position: center;
    background-size: cover;
    padding: 10%;
  }

  #box1 img {
    opacity: 0.25;
  }

  #box2 {
    padding: 10%;

  }

  #box2_2 img {
    border-radius: 50%;
    padding: 10%;
  }

  #box2_4 {

    padding-top: 10%;
  }

  #box3 {
    margin-top: 10%;
    color: white;
    padding: 10%;
    background-color: #f04c2f ;
  }

  #box3 h2 {
    color: white;
    font-size: 28px;
    font-weight: 600;
  }

  #box3 span {
    font-style: italic;
  }

  #box4 {
    
    margin-top: 10%;
margin-bottom: 10%;
   
  }

footer {
    color: white; 
    background-color: #25a2c3;
    text-align: center;
    font-size: 14px;
    padding-top: 2em;
    padding-bottom: 5em;
    padding-left: 5em;
    padding-right: 5em;
  }

  footer h1 {
    color: white;
  }

  footer p {
    text-decoration: underline;
  }
